{% load static %}  
<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">

	    		<div class="row d-flex">
	    			<div class="col-xl-8 py-5 px-md-5 col-xl-offset12">
<div class="col-lg-4 sidebar ftco-animate bg-light pt-5">
	            <div class="sidebar-box pt-md-4">
	              <form action="{% url 'search' %}" class="search-form" method="get">
	                <div class="form-group">
	                  <span class="icon icon-search"></span>

	                  <input name="query" type="text" class="form-control" placeholder="Type a keyword and hit enter">
	                </div>
	              </form>
	            </div>
	            <div class="sidebar-box ftco-animate">
	            	<h3 class="sidebar-heading">Categories</h3>
	              <ul class="categories">
                    {% for category in categories %}
                        <li><a href="#">{{ category.title }} </a></li>
                    {% endfor %}
	              </ul>
	            </div>

							<div class="sidebar-box subs-wrap img" style="background-image: url({% static 'images/bg_1.jpg' %});">
								<div class="overlay"></div>
								<h3 class="mb-4 sidebar-heading">Newsletter</h3>
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
	              <form action="#" class="subscribe-form">
	                <div class="form-group">
	                  <input type="text" class="form-control" placeholder="Email Address">
	                  <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
	                </div>
	              </form>
	            </div>


	            <div class="sidebar-box ftco-animate">
	              <h3 class="sidebar-heading">Paragraph</h3>
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
	            </div>
	          </div><!-- END COL -->

			    	</div>

	    		</div>
            </div>

            </section>

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

